{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur
{% endblock %}

{% block body %}

	<div class="container my-3">
		<div class="row register-row d-flex align-items-center">
			<h1 class="my-4">Bonjour
				{{ app.user.firstname }}
				!</h1>
			<p class="my-4">Vous venez de vous créer un compte sur MFS App afin de contribuer au site.<br>Mais avant de poster votre première contribuation, assurez-vous de bien avoir consulter les recommandations de contributions du site.<br>Elles sont essentielles pour que la plateforme conserve une présentation optimale.<br>Nous vous remercions d'avance pour votre compréhension et vos prochaines contributions.<br>L'équipe MFS App.</p>
		</div>
	</div>
{% endblock %}
