{% extends 'base.html.twig' %}

{% block title %}Aircrafts
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<row>
			<div class="col">
				<h1>List of aircrafts</h1>
			</div>
		</row>
	</section>
{% endblock %}
