{% extends 'base.html.twig' %}

{% block title %}{{ plane.name }}
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<row>
			<div class="col">
				<h1 class="text-center" >{{ plane.name }} details</h1>
			</div>
		</row>
	</section>
{% endblock %}
