{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row register-row d-flex align-items-center">
			<div class="col">
				<h1 class="text-center">Réinitialisation du mot de passe</h1>
                {{ form_start(requestPassForm)}}
				{{ form_row(requestPassForm.email)}}
				<button type="submit" class="btn btn-outline-secondary mt-3">Envoyer</button>
				{{ form_end(requestPassForm)}}
			</div>
		</div>
	</section>

{% endblock %}
