{% extends 'base.html.twig' %}

{% block title %}Compagnies aériennes
{% endblock %}

{% block body %}
	<section class="container-fluid hero-container">
		<div class="page-hero-img d-flex justify-content-center">
			<img src="{{ asset('uploads/images/main/hero-companies.webp') }}" alt="" class="img-fluid">
			<h1 class="text-center aircrafts-h1">Liste des compagnies aériennes</h1>
		</div>
		<div class="container">
			<div class="col-12 col-lg-10 mx-auto">
				<p class="aircrafts-p my-3">Retrouvez dans cette section la liste des plus importantes compagnies aériennes du monde.</p>
			</div>
		</div>
		<div class="container my-5">
			<div class="col-12">
				<ul class="companies-ul d-flex">
					{% for firstLetter in firstLetters %}
						<li>
							<a href="#{{ firstLetter.letter }}">{{ firstLetter.letter }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<hr>
			{% include "companies/a-company.html.twig" %}
			{% include "companies/b-company.html.twig" %}
			{% include "companies/c-company.html.twig" %}
			{% include "companies/d-company.html.twig" %}
			{% include "companies/e-company.html.twig" %}
			{% include "companies/f-company.html.twig" %}
			{% include "companies/g-company.html.twig" %}
			{% include "companies/h-company.html.twig" %}
			{% include "companies/i-company.html.twig" %}
			{% include "companies/j-company.html.twig" %}
			{% include "companies/k-company.html.twig" %}
			{% include "companies/l-company.html.twig" %}
			{% include "companies/m-company.html.twig" %}
			{% include "companies/o-company.html.twig" %}
			{% include "companies/p-company.html.twig" %}
			{% include "companies/q-company.html.twig" %}
			{% include "companies/r-company.html.twig" %}
			{% include "companies/s-company.html.twig" %}
			{% include "companies/t-company.html.twig" %}
			{% include "companies/u-company.html.twig" %}
			{% include "companies/v-company.html.twig" %}
			{% include "companies/w-company.html.twig" %}
		</div>
	</section>
{% endblock %}
