{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<row>
			<div class="col">
				<h1 class="text-center" >Détails de la compagnie {{ company.name }}</h1>
			</div>
		</row>
	</section>
{% endblock %}
