{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<div class="row">
			<div class="col">
				<h1>Welcome to the Microsoft Flight Simulator Fan App!</h1>
				<p>An app made by the fans, for the fans!</p>
			</div>
		</div>
	</section>
{% endblock %}
