<h1>Activez votre compte</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Votre inscription sur le site MFS App est presque terminée. Pour activer votre compte, veuillez cliquer sur le lien ci-dessous.</p>
<p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">Activer mon compte</a></p> 
<p>Ce lien expirera dans 3 heures.</p>